html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #182840;
}

.bold {
  font-weight: bold;
  color: black;
}

.center-text {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
}

.wrapper.flexbox {
  display: flex;
}

a {
  color: #182840;
  text-decoration: none;
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

h6 {
  font-size: 1rem;
  font-style: italic;
}

p {
  font-size: 1rem;
  line-height: 1.2rem;
}

/* Navigation */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DCAE1D;
}

.logotype {
  height: 2rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  color: #182840;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

nav span a{
  padding: 1rem;
  text-decoration: none;
  font-style: normal;
}

@media only screen and (max-width:808px) {
  nav {
    width: 75%;
    justify-content: space-around;
  }
}

/* Banner section */
.banner {
  background-color: #182840;
  padding: 2rem 1.5rem;
  display: flex;
}

.banner img {
  width: 60%;
  align-self: center;
}

.banner .text-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 30%;
  color: white;
}

.banner h3 {
  margin: 2rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.button {
  width: 95%;
  text-align: center;
  background-color: #DCAE1D;
  padding: 0.5rem;
}

.button span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #182840;
}

@media only screen and (max-width:966px) and (min-width:808px) {
  .banner .text-box {
    padding: 0 1.5rem;
  }

}

@media only screen and (max-width:808px) {
  .banner {
    flex-flow: column;
    padding: 0;
  }

  .banner img {
    width: 100%;
  }

  .banner .text-box {
    padding: 2rem 1rem;
    width: auto;
  }

  .banner h3 {
    margin: 2rem 0 1.5rem 0;
  }

  .wrapper.flexbox {
    flex-flow: column;
    padding: 0;
  }
  }

/* Articles section */
  .articles {
    padding: 0 1.5rem;
  }

  .main {
    height: 100%;
    width: 60%;
    padding: 2rem 0;
  }

  .main img {
    width: 100%;
  }

  .main h2 {
    padding: 2rem 0 1.5rem 0;
  }

  .main p {
    padding-bottom: 2rem;
  }

  .main span {
    font-style: italic;
  }

  .column-articles {
    height: 100%;
    width: 35%;
    margin-left: 1.5rem;
  }

  .articles.column-articles {
    margin-top: 1rem;
  }

  .small {
    display: flex;
    height: 33%;
    padding: 1rem;
    border: solid 1px #DCAE1D;
    margin: 1px;
  }

  .small img {
    width: 35%;
    align-self: center;
    padding-right: 1rem;
  }

  .small a {
    color: #1991F5;
  }

  .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
  }

  .text p {
    padding: 1rem 0;
  }

  .highlight {
    background-color: #DCAE1D;
    margin-bottom: 1rem;
  }

  .small.highlight a {
    color: white;
  }

@media only screen and (max-width:808px) {

  .column-articles {
    width: 100%;
  }
}

@media only screen and (max-width:808px) {
  .articles {
    padding: 0;
  }

  .column-articles {
    width: auto;
    margin-left: 0;
  }

  .small {
    border: solid 0px white;
    margin: 0;
    flex-flow: column;
  }

  .small img {
    width: 100%;
    align-self: center;
    padding: 0;
  }

  .text {
    padding: 2rem 1rem;
  }

  .highlight {
    background-color: white;
  }
}

/* Courses */
  .courses {
    background-color: #182840;
    text-align: center;
  }

  .courses h2 {
    padding: 2rem;
    color: white;
  }

  .grid {
    display: flex;
    padding: 0 3.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .article-grid {
    width: 31%;
    background-color: white;
    margin-bottom: 2rem;
    text-align: left;
    border: 1px solid white;
  }

  .article-grid img {
    width: 100%;
  }

  .article-grid h3 {
    margin: 1rem 0 0 1rem;
  }

  .article-grid h6 {
    margin: 1rem 1rem 0.5rem 1rem;
  }

  .article-grid p {
    margin: 0 0.5rem 1rem 1rem;
  }

  @media only screen and (max-width:808px) {
    .courses {
      background-color: #182840;;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
    }

    .mobile.grid {
      text-align: left;
      display: flex;
      flex-flow: column;
      margin-bottom: 2rem;
    }

    .mobile.grid h3{
      padding: 1rem;
      background-color: white;
      margin-bottom: 0.5rem;
    }
  }

/* Thesis section */
.thesis {
  padding: 0 1.5rem;
}

.thesis h2 {
  padding: 2rem 0;
}

.thesis-wrapper {
  display: flex;
}

video {
  width: 100%;
}

.no-padding {
  padding-top: 0;
}

.no-border {
  border: 0px solid white;
}

@media only screen and (max-width:808px) {
  .thesis h2 {
    padding: 2rem 0 1rem 0;
  }

  .main.no-padding {
    width: 100%;
    padding: 0 0 1.5rem 0;
  }
}

/* Footer */
footer {
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem 1.5rem;
  background-color: #DCAE1D;
}

/* General media queries */
@media only screen and (min-width:808px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width:808px) {
  .desktop, .grid.wrapper.flexbox {
    display: none;
  }
}
